
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

/* Fuentes importadas 
font-family: 'Baloo 2', cursive;
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Baloo 2', cursive;
}

body {
	background-color: #fff7f7;
}

#logo {
	margin-left: 2%;
}
.datos__yaku-vol {
	background-color: #7b61ff;
}

.datos__yaku-vol-ases {
	background-color: #e6d53e;
}

.datos__yaku-rurus {
	background-color: #7b61ff;
}

.conectados__pad--img {
	padding: 0 !important;
}

.misionval__bg {
	background-color: lightgray;
}

/* lista desordenada valores */
#misionval__ul {
	list-style-type: disc;
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
	list-style-position: inside;
}
/* Carrusel de la sección noticias */
main {
	height: 100%;
	width: 100%;
}

main .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

main .wrapper {
	max-width: 1260px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0px;
}

main .wrapper .hero {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	align-items: center;
}

main .wrapper .hero h1 {
	font-size: 45px;
	font-weight: 600;
	line-height: 140%;
	text-transform: uppercase;
}

main .wrapper .hero button.btn-articles {
	justify-self: flex-end;
	padding: 14px 45px;
	cursor: pointer;
	border: 1px solid #ddd;
	background-color: transparent;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	font-size: 14px;
	font-weight: 500;
}

main .wrapper .glide {
	margin-top: 25px;
}

main .wrapper .glide .glide__slide {
	padding-top: 15px;
	padding-bottom: 15px;
}

main .wrapper .glide .glide__slide .card {
	/* height: 264px; */
	background-color: #000;
	position: relative;
	overflow: hidden;
	box-shadow: 1px 2px 13px 1px rgba(0, 0, 0, 0.16);
}

main .wrapper .glide .glide__slide .card img {
	height: 100%;
	max-width: 100%;
	object-fit: cover;
}

main .wrapper .glide .glide__slide .card .share {
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	top: 15px;
	right: 15px;
	font-size: 22px;
}

.glide__arrows .glide__arrow--left {
	left: 0.5em;
}

.glide__arrows .glide__arrow--right {
	right: 0.5em;
}

.glide__arrows .glide__arrow {
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	color: #000;
	font-size: 26px;
	padding: 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

/* Fin carrusel de la sección noticias */

#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table; /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}
ul#horizontal-list li {
	display: inline;
}

/* Estilos de la sección Unete */

.unete_main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0rem 2rem;
}

.title {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 5rem;
	justify-content: center;
	align-items: center;
    position: relative;
}
.unete_title {
	font-family: 'Baloo 2';
	font-weight: 700;
	font-size: 64px;
    position: absolute;
}

.acordeon_box{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 95%;
	margin-top: 5rem;
	margin-bottom: 2rem;
	
}
.unete_details{
	align-content: flex-end;
	background-color: #2360F699;
	font-size: 1.5rem;
	font-weight: 600;
	margin-right: 1rem;
	cursor: pointer;
	border: 1px solid #FA685E;
	border-bottom-right-radius: 2rem;
	border-top-right-radius: 2rem;
	margin-bottom: 2rem;
	width: 100%;
}

.unete_details2{
	width: 60%;
	align-content: flex-start;
	background-color: #2360F699;
	font-size: 1.5rem;
	font-weight: 600;
	margin-right: 1rem;
	cursor: pointer;
	border: 1px solid #FA685E;
	border-bottom-left-radius: 2rem;
	border-top-left-radius: 2rem;
	margin-bottom: 2rem;
}


.unete_summary{
	list-style: none;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding-left: 5rem;
	padding-right: 3rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.selector{
	transition: all 150ms ease-in;
}

.selector2{
	transition: all 150ms;
	
}

.unete_details[open] .selector{
	transform: rotate(-90deg);
}

.unete_details2[open] .selector2{
	
	transform: rotate(90deg);
}

.acordeon_p{
	padding: 1rem;
}

.frame{
	display: flex;
	padding: 3rem;
	width: 490px;
	height: 401px;
	background-color: #040C33;
	border-radius: 30px;
	margin-top: 3rem;
	margin-bottom: 3rem;
	
}

.contact{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	
}

	



.unete_form{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	background-color: #fff;
	height: 100%;
	padding: 5rem;
	padding-left: 15rem;
	border: 1px solid #000;
	width: 40rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	
}

input{
	border: none;
	border-bottom: 1px solid #000;
	margin-bottom: .5rem;
}

.data{
	
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 1rem;
	position: absolute;
	padding: 2rem;

}

.data_line{
	display: flex;
	align-items: baseline;
}

.data_logo{
	margin-right: .3rem;
}