* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}
#logo {
    margin-left: 2%;
}
.datos__yaku-vol {

    background-color: #7B61FF;
}

.datos__yaku-vol-ases {

    background-color: #E6D53E;

}

.datos__yaku-rurus {

    background-color: #7B61FF;
}


.conectados__pad--img {

    padding: 0 !important;
    

}

.misionval__bg{
    background-color: lightgray;
}
.fondo_nosotros{
background-color: #FBD6D3;
}

.logofloat{
    position: absolute;
    left: 62px;
    top: -60px;
    z-index:2;
}

.margen-top{
    position: relative;
    top: 8rem;

}
.margen-top2{
    position: relative;
    top: 10rem;

}

.margen-top3{
    position: relative;
    top: 30rem;
    padding-top: 10rem;

}

/* Rectangle 372 */

.resctangulo_nosotros{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FA685E;
border: 4px solid #FDB82D;
box-sizing: border-box;
border-radius: 8px;
}
/* lista desordenada valores */
#misionval__ul{
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
}
/* Carrusel de la sección noticias */
/* opciones fondo nosotros.html */
.principal__nosotros{
    background-color: #FBD6D3;
    height: 100%;
    width: 100%;
}

/* Opciones de fondo del main en index.html */
.principal {
    height: 100%;
    width: 100%;
    background-image: url("../images/fondo-opaco.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
}

main .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}


main .wrapper {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}

main .wrapper .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
}

main .wrapper .hero h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
}

main .wrapper .hero button.btn-articles {
    justify-self: flex-end;
    padding: 14px 45px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}

main .wrapper .glide {
    margin-top: 25px;
}

main .wrapper .glide .glide__slide {
    padding-top: 15px;
    padding-bottom: 15px;
}

main .wrapper .glide .glide__slide .card {
    /* height: 264px; */
    background-color: #000;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 2px 13px 1px rgba(0,0,0,0.16);
}

main .wrapper .glide .glide__slide .card img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

main .wrapper .glide .glide__slide .card .share {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 15px;
    right: 15px;
    font-size: 22px;
}



.glide__arrows .glide__arrow--left {
    left: .5em;
}

.glide__arrows .glide__arrow--right {
    right: .5em;
}

.glide__arrows .glide__arrow {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    font-size: 26px;
    padding: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* Fin carrusel de la sección noticias */

#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}