@import "variables_aliados";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_aliados{
    width: 100%;
    height: 100%;
}
.section_title_aliados{
    background-image: url("../assets/aliados/backgrounds/Vector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    width: 100%;
    @include flexCenter;
    @include espaciado(2em,2em);
    h1{
        padding: 1em 0;
        font-family: $tipografia_principal;
        width: 100%;
        text-align: center;
    }
}
.section_speach_aliados{
    @include flexCenter;
    flex-direction: column;
    width: 100%;
    @include espaciado(0,2em);
}
.article_speach{
    @include flexCenter;
    width: 100%;
    flex-direction: column;
}
.article_speach_Title{
    text-align: center;
    font-family: $tipografia_principal;
    width: 40%;
}
.contenedor_speach_img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-bottom: 1em;
}
.article_speach_img{
    width: 20rem;
    height: 15rem;
    margin: .2em;
}
.article_speach_paragraph{
    width: 40%;
    text-align: center;
    font-family: $tipografia_secundaria;
    margin-bottom: 1em;
}
.section_list_aliados{
    @include flexCenter;
    flex-direction: column;
    width: 100%;
    @include espaciado(0,2em);
}
.article_list_aliados{
    @include flexCenter;
    width: 100%;
    flex-direction: column;
    @include espaciado(1em,1em);
}
.aliado{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #F26969;
    @include espaciado(1em,1em);
}
.container_img_aliado{
    @include flexCenter;
    width: 40%;
    max-width: 20rem;
    max-height: 15rem;
    overflow: hidden;
}
.img_aliado{
    width: 100%;
    height: 100%;
    max-width: 20rem;
    max-height: 15rem;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    &:hover{
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
}
.container_synthesis_aliado{
    width: 60%;
    height: 100%;
    @include flexCenter;
    flex-direction: column;
}
.nombre_aliado{
    width: 100%;
    text-align: center;
    font-family: $tipografia_principal;
    color: white;
    margin-bottom: 1em;
}
.synthesis_aliado{
    text-align: center;
    font-family: $tipografia_secundaria;
    color: white;
    font-weight: bold;
    width: 90%;
    margin-bottom: 1em;
}
@media screen and (max-width: 920px){
    .article_speach{
        .contenedor_speach_img{
            width: 90%;
        }
    }
}
@media screen and (max-width:726px) {
    .aliado{
        flex-direction: column;
    }
    .container_img_aliado{
        width: 50%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .nombre_aliado{
        margin-bottom: 1em;
    }
}
@media screen and (max-width: 400px){
    .article_speach{
        .contenedor_speach_img{
            .article_speach_img{
                width: 14rem;
                height: 10rem;
            }
        }
    }
    .article_list_aliados{
        @include flexCenter;
        width: 100%;
        flex-direction: column;
        @include espaciado(1em,1em);
        .aliado{
            .container_img_aliado{
                max-width: 14rem;
                max-height: 10rem;
                .img_aliado{
                    max-width: 14rem;
                    max-height: 10rem;
                }
            } 
        }
    }   
    .container_img_aliado{
        width: 70%;
    }
}